<!DOCTYPE html>
    {% extends "cpanel/AdminBase.html" %}
        {% block title %}
        <div class="card-header">
          <div class="d-flex align-items-center">
              <h5 class="card-title"> <i class="fas fa-edit"></i>Status Issued Items</h5>
          </div>
      </div>
    {% endblock title %}
<body>
    {% block mainblock %}
  
                         <!--   Total Items Table -->
                  <div class="row">
                          <div class="col-sm-4">
                            <div class="card">
                              <div class="card-body">
                                <h5 class="card-title">Itemwise Total Quantity</h5>

                                    <div class="table-responsive">
                                      <table class="table">
                                            <thead>
                                                  <tr>
                                                    <th scope="col"><h4>Item Name</h4></th>
                                                      <th scope="col"><h4>Quantity</h4></th>
                                                  </tr>
                                            </thead>
                                        <tbody>
                                          {% for itm in ds1 %}
                                          <tr>
                                            <td>{{ itm.item_name__item_name }}</td>
                                            <td>{{ itm.total_qty_c }}</td>
                                          </tr>
                                            {% endfor  %}
                                        </tbody>
                                      </table>
                                    </div>
                                
                              </div>
                            </div>
                          </div>
                          <div class="col-sm-8">
                            <div class="card">
                              <div class="card-body">                                
                                <h5 class="card-title">Blockwise Item Status </h5>
                                
                                              <div class="card-group">
                                                <ul class="list-group">
                                                  <li class="list-group-item"><h4>Block</h4></li>
                                                    {% for block in dataset %}
                                                  <li class="list-group-item">{{ block.acblock__name }}</li>
                                                    {% endfor  %}
                                                </ul>
                                                <ul class="list-group">
                                                    <li class="list-group-item"><h4>Computer Systems</h4></li>
                                                    {% for itm in dataset %}
                                                  <li class="list-group-item">{{ itm.total_qty_c }}</li>
                                                    {% endfor  %}
                                                </ul>
                                                <ul class="list-group">
                                                  <li class="list-group-item"><h4>Printers</h4></li>
                                                    {% for itm in dataset %}
                                                  <li class="list-group-item">{{ itm.total_qty_p }}</li>
                                                    {% endfor  %}
                                                </ul>
                                                <ul class="list-group">
                                                  <li class="list-group-item"><h4>Projector</h4></li>
                                                    {% for itm in dataset %}
                                                  <li class="list-group-item">{{ itm.total_qty_pro }}</li>
                                                    {% endfor  %}
                                                </ul>
                                              </div>                         
                              </div>
                            </div>
                          </div>
                  </div>        
                                <!-- Chart of Item Quantity Academic Block Wise -->
        <div class="col-xl-12">
                 <div id="container" style="width: 100%;">
                    <canvas id="item-chart" data-url="{% url 'chart_bar' %}"></canvas>
                  </div>
                  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
                  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
                  <script>
                    $(function () {
                      var $itemChart = $("#item-chart");
                      $.ajax({
                        url: $itemChart.data("url"),
                        success: function (data) {
                          var ctx = $itemChart[0].getContext("2d");
                          new Chart(ctx, {
                            type: 'bar',
                            data: {
                              labels: data.labels,
                              datasets: [{
                                label: 'System Quantity',
                                backgroundColor: 'blue',
                                data: data.data
                              }]
                            },
                            options: {
                              responsive: true,
                              legend: {
                                position: 'top',
                              },
                              title: {
                                display: true,
                                text: 'Computer System Academic Block wise'
                              }
                            }
                          });
                        }
                      });
                    });
                  </script>
        </div>
    {% endblock mainblock %}
  </body>
</html>