<!DOCTYPE html>
{% extends "cpanel/AdminBase.html" %}
{% load widget_tweaks %}
<body>
        {% block title %}
                <div class="card-header">
                    <div class="d-flex align-items-center">
                        <h5 class="card-title"> <i class="fas fa-edit"></i>Update Item List ---->> Total Items | {{ totality.item_qty__sum }}</h5>
                        &ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;
                        &ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;
                        &ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;
                        <a href="{% url 'export_xls_issue' %}"><i class="fas fa-file-export fa-1x"> Excel</i></a>
                        &ensp;&ensp;&ensp;&ensp;
                        <a href="{% url 'print_issue_item' %}"><i class="fas fa-print fa-1x">Print</i></a>
                    </div>                     
                </div>
        {% endblock title %}

    {% block mainblock %}
                <!-- Search form -->
    <div class="container"> 
        <form class="row g-3" method="get" id="ItemSearch" data-cities-url="{% url 'ajax_load_ItemModel' %}" >
            {% csrf_token %}          
            <div class="row">                             
                    <div class="col-2">
                        {{ filter.form.item_name.label_tag }}
                        {% render_field filter.form.item_name class="form-control" %}
                    </div>
                    <div class="col-2">
                        {{ filter.form.item_model.label_tag }}
                        {% render_field filter.form.item_model class="form-control" %}
                    </div>
                    <div class="col-2">
                        {{ filter.form.acblock.label_tag }}
                        {% render_field filter.form.acblock class="form-control" %}
                    </div>
                    <div class="col-2">
                        {{ filter.form.inst.label_tag }}
                        {% render_field filter.form.inst class="form-control" %}
                    </div>
                    <div class="col-2">
                        {{ filter.form.room_type.label_tag }}
                        {% render_field filter.form.room_type class="form-control" %}
                    </div>                    
                    <div class="col-auto"> 
                        <br>                                
                        <button type="submit" class="btn btn-primary" ><i class="fas fa-search fa-1x"></i> </button>                                                                   
                    </div>                                                     
                </div>               
        </form>
    </div>


        
        <div class="card">
            <div class="table-responsive">
                <table class="table" id="table"
                    data-show-print="true"
                    data-url="json/data1.json">
                    <thead>
                    <tr>
                        <th scope="col">Item Name</th>
                        <th scope="col">Model No[Spec]</th>
                        <th scope="col">Block[room no]/Type</th>
                        <th scope="col">Department/User </th>
                        <th scope="col">Qty</th>
                        <th scope="col">DoP</th>
                        <th scope="col">Status</th>
                        <th scope="col">Action</th>           
                     </tr>
                    </thead>
                    <tbody>
                    {% for itm in filter.qs %}
                    <tr>
                        <td>{{ itm.item_name }}</td>
                        <td>{{ itm.item_model }} <p class="text-primary"> [{{ itm.item_configuration }}]</p></td>
                        <td>{{ itm.acblock }} [{{ itm.room }}] : {{ itm.room_type }}</td>
                        <td>{{ itm.inst }}<p class="text-primary">{{ itm.user }}</p></td>
                        <td>{{ itm.item_qty }}</td>
                        <td>{{ itm.purchase_date }}</td>

                        {% if itm.act == 0 %}
                        <td><i class="fas fa-question fa-2x"></i>
                        </td>
                        {% elif itm.act == 1 %}
                        <td>
                            <i class="fas fa-check fa-2x"></i>
                        </td>
                        {% endif %}
                        <td>
                            <a href="{% url 'update_item_list' itm.id %}" class="edit" id = '{{itm.id}}' title="Edit" data-toggle="tooltip"><i class="fas fa-edit fa-2x"></i></a>
                            <a href="{% url 'Deleteitem' itm.id %}" class="Delete" id = '{{itm.id}}'title="Delete" data-toggle="tooltip">
                                <span style="color: red;">
                                    <i class="fas fa-trash fa-1x "></i></a>  
                                  </span>
                            </a>
                            {% if itm.act == 0 %}
                            <a href="{% url 'item_approved' itm.id %}" class="Delete" id = '{{itm.id}}'title="Approved" data-toggle="tooltip"><i class="fas fa-check-double"></i></a>
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor  %}
                    </tbody>
                </table>
            </div>
          </div>   
            

          <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
              <script>
                $("#id_item_name").change(function () {
                  var url = $("#ItemSearch").attr("data-cities-url");
                  var itemId = $(this).val();
                  $.ajax({
                    url: url,
                    data: {
                      'item_name': itemId
                    },
                    success: function (data) {
                      $("#id_item_model").html(data);
                    }
                  });

                });

              </script>


      {% endblock mainblock %}
</body>

</html>