<!DOCTYPE html>
 {% load static %}
      <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>GLA Stock Management</title>
        <!-- Bootstrap CSS --> 
          <link rel="stylesheet" type="text/css" href="{% static 'assets/css/bootstrap.min.css' %}" >
          <link rel="stylesheet" type="text/css" href="{% static 'fontawesome/css/fontawesome.css' %}" >
          <link rel="stylesheet" type="text/css" href="{% static 'fontawesome/css/brands.css' %}" >
          <link rel="stylesheet" type="text/css" href="{% static 'fontawesome/css/solid.css' %}" >        
          <link rel="stylesheet" type="text/css" href="{% static 'assets/css/bootstrap.css' %}">         
        <!-- Script -->         
        <script src="{% static 'assets/js/bootstrap.bundle.min.js' %}"></script>  
      </head>
  <body>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-secondary">
      <div class="container-fluid">
        <a href="{% url 'home' %}" class="navbar-brand">
          <img src="{% static "assets/img/gla_logo.png" %}" alt="my" class="avatar-img rounded-circle"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation" bg-vlue>
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav mr-auto w-100 justify-content-end clearfix">
            <li class="nav-item active">
              <a class="nav-link" href="{% url 'home' %}">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'computer_list' %}"> Item List </a>         
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'cpanel' %}">Login <i class="fas fa-user-circle"></i> </a>
            </li>
          </ul>
        </div>
      </div>        
    </nav>
    <!-- Space After the Header -->
    <div class="mt-4"></div>   <!-- for classes that set margin-top -->
    <div class="pt-5"></div>   <!-- for classes that set padding-top -->
    <div class="pt-5"></div>   <!-- for classes that set padding-top -->
    <div class="px-3">         <!-- for classes that set padding to both *-left and *-right -->
    
    <!-- Header Area wrapper End -->
        {% block content %}

          <!-- Content Goes here -->

        {% endblock content %}
    <!-- Footer Section Start -->
     <!-- Space After the Main Contant -->
    <div class="mt-5"></div>   <!-- for classes that set margin-top -->
    <div class="pt-5"></div>   <!-- for classes that set padding-top -->
    <div class="pt-5"></div>   <!-- for classes that set padding-top -->
    <div class="px-3">         <!-- for classes that set padding to both *-left and *-right -->
  
    <footer id="footer" class="footer-area section-padding">
       
          <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6 col-mb-12">
              <h4 class="footer-titel">Campus</h4>
              <div class="widget">
                <div class="textwidget">
                  <p>GLA University, Mathura(U.P.), University Polytechnic</p>
                </div>                
              </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
              <h4 class="footer-titel">Products</h4>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
              <h4 class="footer-titel">Resources</h4>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
              <h4 class="footer-titel">Contact</h4>
              <ul class="address">
                <li>
                  <a href="#"><i class="lni-map-marker"></i> University Polytechnic <br> 9th Block , Ground Floor , 008</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
    </footer> 
    </div>
    <!-- Footer Section End -->    
  </body>
</html>
