<!DOCTYPE html>
{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}
<html lang="en">
        <head>
            <meta charset="UTF-8">
            <title>System Details</title>
        </head>
  <body>
    {% block content %}    
                    <div class="section-header text-center">
                      <h3 class="section-title wow fadeInDown" data-wow-delay="0.3s">IT Services Equipments</h3>
                      <div class="shape wow fadeInDown" data-wow-delay="0.3s"></div>
                    </div>
                <!-- Search form -->
           <form method="get" id="ItemSearch" data-cities-url="{% url 'ajax_load_ItemModel' %}" >
               {% csrf_token %}
                    <div class="well">
                      <div class="row">
                        <div class="form-group col">
                          {{ filter.form.item_name.label_tag }}
                          {% render_field filter.form.item_name class="form-control" %}
                        </div>
                        <div class="form-group col">
                          {{ filter.form.item_model.label_tag }}
                          {% render_field filter.form.item_model class="form-control" %}
                        </div>
                        <div class="form-group col">
                          {{ filter.form.acblock.label_tag }}
                          {% render_field filter.form.acblock class="form-control" %}
                        </div>
                        <div class="form-group col">
                          {{ filter.form.inst.label_tag }}
                          {% render_field filter.form.inst class="form-control" %}
                        </div>
                        <div class="form-group col">
                          {{ filter.form.room_type.label_tag }}
                          {% render_field filter.form.room_type class="form-control" %}
                        </div>
                        <div class="col-auto">   
                          <br>     
                          <button type="submit" class="btn btn-primary mb-3" ><i class="fas fa-search fa-1x"></i> </button>                                                                   
                      
                          <a href="{% url 'export_xls_issue' %}"><i class="fas fa-file-export fa-1x"> Excel</i></a>
                        </div>
                      </div>
                    </div>
           </form>
                           <table class="table table-sm">
                                            <thead>
                                                  <tr>
                                                    <th scope="col">Item Name</th>
                                                    <th scope="col">Model No[Spec]</th>
                                                    <th scope="col">Block[room no]/Type</th>
                                                    <th scope="col">Department/User </th>                                              
                                                    <th scope="col">Quantity</th>
                                                    <th scope="col">Purchase Dt </th>
                                                    <th scope="col">updated_on</th>
                                                  </tr>
                                            </thead>
                                        <tbody>
                                           {% for itm in filter.qs %}
                                          <tr>
                                            <td>{{ itm.item_name }}</td>
                                            <td>{{ itm.item_model }} <p class="text-primary"> [{{ itm.item_configuration }}]</p></td>
                                            <td>{{ itm.acblock }} [{{ itm.room }}] : {{ itm.room_type }}</td>
                                            <td>{{ itm.inst }}<p class="text-primary">{{ itm.user }}</p></td>                                            
                                            <td>{{ itm.item_qty }}</td>
                                            <td>{{ itm.purchase_date }}</td>
                                            <td>{{ itm.updated_at }}</td>
                                          </tr>
                                            {% endfor  %}
                                        </tbody>
                                        <thead>
                                          <tr>
                                            <td colspan="3" </td>
                                            <th scope="col">Total Quantity</th>
                                            <th scope="col">{{ totality.item_qty__sum  }}</th>
                                          </tr>
                                        </thead>  
                           </table>
                     
                           
        <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
              <script>
                $("#id_item_name").change(function () {
                  var url = $("#ItemSearch").attr("data-cities-url");
                  var itemId = $(this).val();
                  $.ajax({
                    url: url,
                    data: {
                      'item_name': itemId
                    },
                    success: function (data) {
                      $("#id_item_model").html(data);
                    }
                  });

                });
            </script>

    {% endblock content %}
  </body>
</html>